<div class="article-categories-list"><ul>
	<li><a href="/​​events/"{% if page.url contains '/​​events/' %} class="item-act"{% endif %}>​​events</a></li>
	<li><a href="/community/"{% if page.url contains '/community/' %} class="item-act"{% endif %}>community</a></li>
	<li><a href="/customer-stories/"{% if page.url contains '/customer-stories/' %} class="item-act"{% endif %}>customer stories</a></li>
	<li><a href="/product/"{% if page.url contains '/product/' %} class="item-act"{% endif %}>product</a></li>
	<li><a href="/how-to/"{% if page.url contains '/how-to/' %} class="item-act"{% endif %}>how to</a></li>
	<li><a href="/nerds/"{% if page.url contains '/nerds/' %} class="item-act"{% endif %}>nerds</a></li>
</ul></div>

{% comment %}<div class="article-categories-list"><ul>
	{% for tag in site.category %}
		{% assign t = tag | first %}
		<li><a href="/tag/#{{t | downcase | replace:" ","-" }}">{{ t | downcase }}</a></li>
	{% endfor %}
</ul></div>{% endcomment %}