{% include head.html %}
<article class="article-detail-header"><div class="in">
	<div class="article-header-desc">
		<h2>{% for category in page.categories limit:1 %}
			<a href="/{{ category }}">{{ category | downcase | replace:"-"," " }}</a>
			{% unless forloop.last %}, {% endunless %}{% endfor %}</h2>
		<h1>{{ page.title }}</h1>
		<p>{{ page.perex }}</p>
	</div>
	<div class="article-header-action">
		<div class="article-header-user">
			{% for data in site.data['user'] %}
				{% if data.id == page.user %}
				<div class="img"><img src="/img/users/{{ data.id }}.jpg" alt="{{ data.name }}"></div>
				<div class="article-header-user-desc"><p>Written by <br>{{ data.name }}</p></div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="article-header-share">
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" class="share-btn-fb"><i></i></a>
			<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" data-text="{{ page.title }}" data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" class="share-btn-tw"><i></i></a>
		</div>
	</div>
</div></article>
<article class="article-detail-content">
	<p class="p-date">{{ page.date | date: '%B %d, %Y' }}</p>
	{{ content }}

	<div class="article-detail-share">
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" class="share-btn-fb"><i></i></a>
		<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" data-text="{{ page.title }}" data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" class="share-btn-tw"><i></i></a>
	</div>
</article>

{% if page.previous.url %}
<article class="article-next"><div class="in">
	<a href="{{page.previous.url}}" class="article-next-content">
		<i class="bg"></i>
		<i class="ico-pict"></i>
		<div class="article-next-desc">
			<h2>NEXT ARTICLE</h2>
			<h1>{{page.previous.title}}</h1>
			<p>{{page.previous.perex}}</p>
			<p class="p-more">Read next article</p>
		</div>
	</a>
</div></article>
{% endif %}

{% assign postcounting = 0 %}
{% for post in site.posts %}
	{% if post.coverphoto_slider != "" and post.coverphoto_slider != nil %}
		{% if page.categories == post.categories and page.title != post.title %}
			{% assign postcounting = postcounting | plus: 1 %}
		{% endif %}
	{% endif %}
{% endfor %}
{% if postcounting > 0 %}
	<article class="article-more-content"><div class="in">
		<h2>More <strong>{% for category in page.categories limit:1 %} {{ category | downcase | replace:"-"," " }} {% unless forloop.last %}, {% endunless %}{% endfor %}</strong> Articles</h2>
	</div></article>
	{% assign postcountingin = 0 %}
	<div class="most-recent-content"><div class="most-recent-list">
		<ul class="most-recent-list-content">
			<li class="li-placeholder"></li>
			{% for post in site.posts %}
				{% if post.coverphoto_slider != "" and post.coverphoto_slider != nil %}
					{% if page.categories == post.categories and page.title != post.title %}
						{% assign postcountingin = postcountingin | plus: 1 %}
						{% if postcountingin < 7 %}
							<li><a href="{{ post.url }}">
								<div class="img"><img src="{{ post.coverphoto_slider }}" alt=""></div>
								<i class="bg-img"></i>
								<div class="item-desc">
									<h2>{{ post.title }}</h2>
									<p>Go to the article</p>
								</div>
							</a></li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
		<div class="most-recent-pages-content">
			<span class="btn-prevpage">prev</span>
			<ul class="most-recent-pages"></ul>
			<span class="btn-nextpage">next</span>
		</div>
	</div></div>
{% endif %}
{% include foot.html %}